body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #1a1a1a; /* 黒に近い濃い灰色 */
}

#rain-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.raindrop {
    position: absolute;
    color: #e6e6e6; /* 白に近い薄い灰色 */
    white-space: nowrap; /* 改行を防止 */
    overflow: visible; /* はみ出しを許可 */
}

body {
    font-family: 'Yusei Magic', sans-serif;
}
